@font-face {
    font-family: 'Harry Poter';
    font-style: normal;
    font-weight: 400;
    src: local('Harry Poter'),
         url('../fonts/HARRYP__.TTF') format('truetype');
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }

h1.title{
    font-family: 'Harry Poter';
    text-align: center;
}

.tweetForm{
    textarea{
        width: calc(100% - 30px);
        padding: 5px 5px;
        border-radius: 5px;
        margin: 0.5rem;
    }
}

button{
    cursor: pointer;
    margin: .5rem;
    padding: .2rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border: 1px solid transparent;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-transform: none;
}

h1{
    margin: 10px;
}

.tweet {
    background-color: whitesmoke;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 0.5rem;

    h2{
        color: red;
        margin: 10px 0;
    }

    h3{
        color: darkslateblue;
        margin: 10px 0;
    }

    div.likes{
        display: inline-flex;
        width: 100%;

        .fa {
            float: right;
            margin-left: auto;
            align-self: flex-end;
            display: flex;
            width: 30px;
            justify-content: space-between;
        }
    }

    *::first-letter {
        text-transform: uppercase;
    }
}